.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.container button {
  margin: 5rem;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  border: 0px;
}

.container button:hover {
  opacity: 50%;
}

.container button:active {
  opacity: 70%;
}

.container button:first-of-type {
  background-color: red;
}

.container button:last-of-type {
  background-color: green;
}
